<section>
    <div class="container pt-4 mt-4">

        <div class="accordion" id="accordionPanelsStayOpenExample"
            *ngFor="let accountTypeName of accountType; let i = index">
            <div class="accordion-item">
                <h2 class="accordion-header" [id]="'panelsStayOpen-' +i">
                    <button class="accordion-button collapsed custom-accordian-buton" type="button"
                        data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen'+i" aria-expanded="false"
                        [attr.aria-controls]="'panelsStayOpen'+i">
                        <div class="float-start">{{accountTypeName | accountTypeAccordianText}}</div>
                    </button>
                </h2>
                <div [id]="'panelsStayOpen' +i" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'panelsStayOpen'+i">
                    <div class="accordion-body">
                        <ul class="list-group" *ngFor="let account of accountResponse">
                            <li class="list-group-item" *ngIf="accountTypeName == account.type"
                                (click)="navigateToAccount(account)">
                                <a class="custom-tap-anchor">
                                    <div class="d-flex justify-content-between">
                                        <span>{{account.accountNumber }}</span>
                                        <span>{{account.amount}}</span>
                                        <span><i class="bi bi-chevron-right"></i></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>