.anchor-dark-background {
    color: white !important;
}

.bank-logo {
    max-width: 2.5rem;
}

.logo-text {
    color: white !important;
    font-size: larger;
}

.navbar-toggler {
    border-color: lightgreen;
}

.dropdown-menu {
    background-color: rgb(33, 37, 41);
}

.dropdown-item {
    color: white;
}