<div class="container-fluid p-0 h-100">
    <div class="row pt-2">
        <div class="col d-grid gap-2 p-0 pr-1 tab-button">
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1"
                aria-expanded="false" aria-controls="multiCollapseExample1">Login</button>
        </div>
        <div class="col d-grid gap-2 p-0 pl-1 tab-button">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse"
                aria-expanded="false" aria-controls="multiCollapseExample1">Register</button>
        </div>
        <div class="col d-grid gap-2 p-0 pl-1 tab-button">
            <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse"
                aria-expanded="false" aria-controls="multiCollapseExample1">Login Issues</button>
        </div>
        <div class="row p-0 m-0">
            <div class="col p-0 m-0">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        <app-login-form></app-login-form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>