/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

@media only screen and (max-width: 600px) {
    .custom-mobile-small-text {
        font-size: 11px;
    }

    .custom-mobile-large-text {
        font-size: 1rem;
    }
}

.tab-button {
    height: 5vh;
}

.custom-gap {
    color: white;
    width: 0.01rem;
}

.error-form-text {
    color: red;
}


.custom-accordian-buton {
    color: black !important;
    font-weight: bold;
}

.custom-tap-anchor {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.custom-image {
    max-width: 100%;
    max-height: 100%;
}